/* Navbar Start */
body{
    background-color: black;
}

nav{
    width: 100%;
    height: 6.4rem;
    background-color: var(--black);
    border-bottom: 2px solid gray;
}
.logo{
    width: 30%;
    padding: 1.2rem 2.2rem;  
}
.logo img{
    width: 60%;
}
.nav_items{
    width: 70%;
    padding: 0 0 0 3rem;
}
.nav_items a{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--white);
}
.nav_items .btn_nav1{
    padding: 1.2rem 1rem;
    border: 2px solid gray;
    border-radius: 30px;
    font-size: 1rem;
}
.nav_items .btn_nav2{
    padding: 1rem 1rem;
    background-color: var(--red);
    border-radius: 30px;
    font-size: 1rem;
}
.nav_items .btn_nav2 i{
    font-size: 1.5rem;
    padding: 5px;
    background-color: var(--white);
    color: var(--red);
    margin-left: .8rem;
    border-radius: 80%;
}
/* Navbar End */


/* experience div start  */
.experience{
    padding-top:3rem;
}
.experience h1{
    text-align: center;
    color: white;
    font-size: 2.2rem;
    line-height: 7rem;
   
}

.quality{
    display: flex;
    justify-content:center;
}

.star-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
}

.star-div p{
    padding-top: 20px 0px;
    color: white;
    font-size: 1.1rem;
}

.stars i{
    font-size: 1.2rem;
    color: gray;
    cursor: pointer;
    line-height: 2rem;
}

.stars i:hover{
    color: var(--red);
}

.inputs{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:50px auto;
    width: 45%;
    padding-bottom: 3rem;
}

.inputs input{
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
    font-size: 1.2rem;
    color: gray;
}

.inputs label{
    color: white;
    font-size: 1rem;
    padding: 20px 0px;
}
.inputs i{
    color: var(--red);
    font-size: 8px;
    margin-left: 3px;
}

.inputs button{
    max-width: 12rem;
    margin-top: 20px;
    color: var(--white);
    border: none;
    outline: none;
    border-radius: 40px;
    background-color: var(--red);
    font-size: 1.2rem;
    padding: 15px 10px;
}

/* footer start  */

/* Footer */
footer{
    background-color: var(--gray);
}
.main_footer{
    padding: 4rem 2rem;
}
.logo{
    width: 28rem;
}
.logo p{
    font-size: 1.1rem;
    color: gray;
}
.logo a{
    text-decoration: none;
    font-size: 1.1rem;
    color: gray;
}
.site_link{
    width: 20rem;
    padding-top: 2rem;
}
.site_link h2{
    color: var(--white);
}
.site_link a{
    text-decoration: none;
    color: gray;
    font-size: 1.1rem;
    line-height: 3rem;
}
.contact_us{
    width: 25rem;
    padding-top: 2rem;
}
.contact_us h2{
    color: var(--white);
}
.contact_us a{
    text-decoration: none;
    color: gray;
    font-size: 1.1rem;
    line-height: 3rem;
}
.contact_us p{
    text-decoration: none;
    color: gray;
    font-size: 1.1rem;
}
.follow_us{
    width: 25rem;
    padding-top: 1.5rem;
    padding-left: 2.1rem;
}
.follow_us h2{
    color: var(--white);
    line-height: 5rem;
    padding-left: 10px;
}
.follow_us i{
    color: var(--white);
    background-color: var(--red);
    border-radius: 100%;
    padding: 15px;
    font-size: 1.2rem;
    margin-left: 5px;
    margin-bottom: 2rem;
}
.follow_us img{
    width: 11rem;
    margin-top: 10px;
}
.creat_by{
    padding: 1.5rem;
}
.creat_by p{
    color: gray;
    font-size: 1.1rem;
}
/* Footer */